.slick-dots li.slick-active button:before,
.slick-dots li button:before {
  color: grey;
  opacity: 1;
  font-size: 16px;
}
.slick-dots li.slick-active button {
  border: 5px solid var(--bs-warning);
  border-radius: 100%;
}
.slick-dots li.slick-active button:before {
  color: transparent;
}
