/* Add application styles & imports to this file! */
.slick-dots button {
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s;
}
app-news .slick-dots li.slick-active button:before,
app-news .slick-dots li button:before {
  color: grey;
  opacity: 1;
  font-size: 16px;
}
app-news .slick-dots li.slick-active button {
  border: 5px solid var(--bs-warning);
  border-radius: 100%;
}
app-news .slick-dots li.slick-active button:before {
  color: transparent;
}
